@model IEnumerable<rewardly.ViewModels.CompanyPoints>

@{
	ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

@foreach (var item in Model) {

	<ul>
		<li>@Html.ActionLink("Locations", "LocationsList", new { id=item.companyId })</li>
	</ul>
	
}