@model ICollection<BusinessLMSWeb.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <h3>You are also connected with </h3>
    <div class="metro-form">
        @foreach (BusinessLMSWeb.Models.ExternalLogin externalLogin in Model)
        {
            if (ViewBag.ShowRemoveButton)
            {
                using (Html.BeginForm("Disassociate", "Account"))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend></legend>
                        <div class="metro-align-right">
                            Remove 
                            <input type="submit" value="Remove" title="Remove this @externalLogin.ProviderDisplayName credential from your account" class="facebook-button" />
                        </div>
                        @Html.Hidden("provider", externalLogin.Provider)
                        @Html.Hidden("providerUserId", externalLogin.ProviderUserId)

                    </fieldset>
                }
            }
            else
            {
                @: &nbsp;
            }
        }
    </div>
}
