@model rewardly.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div id="login">
<div class="logoLarge"></div>

@using (Html.BeginForm()) {

<div class="signInForm">
    <div class="userName">
        @Html.TextBoxFor(m => m.UserName)            
    </div>
    <div class="passWord">
        @Html.PasswordFor(m => m.Password)            
    </div>
    <div class="submit">
        <input type="submit" value="Log in" />
    </div>
</div>
}

<div class="signUpBtns">
    <div class="signUp">
        Sign Up button
    </div>
    <div id="fbLogin">
        FaceBook Thing
    </div>
</div>

</div>

@section Scripts {

}