@model rewardly.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div id="register">
    <div class="logo"></div>
    <h1>Create an Account</h1>

@using (Html.BeginForm()) {
    <div class="signUpForm">
        <div class="email">
            @Html.TextBoxFor(m => m.UserName)            
</div>

        <div class="password">
            @Html.PasswordFor(m => m.Password)            
        </div>

        <div class="confirm">
            @Html.PasswordFor(m => m.ConfirmPassword)            
    </div>
        <div class="submit">
            <input type="submit" value="Register" />
    </div>
    </div>
}

</div>