/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small;}
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
border-radius: 1px;
-moz-box-shadow: 0px 0px 5px red;
-webkit-box-shadow: 0px 0px 5px red;
box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
background-color: #f0dddd;
}
::-moz-selection {
background: #FF5E99;
color:#fff;
text-shadow: none;
}
::selection {
background:#FF5E99;
color:#fff;
text-shadow: none;
}
a:link { -webkit-tap-highlight-color: #FF5E99; }
button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
/* 
    Retina: 640 x 1136
    Web Dimensionsd: 320 x 548 
*/
body
{
    margin: 0;
    padding: 0;
    font: 14px/16px Helvetica, Arial, sans;
}
#wrapper
{
    width: 320px;
    min-height: 548px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 140px 30px #fbf4e8;
    box-shadow: inset 0px 0px 140px 30px #fbf4e8;

}

/* Pages */

/* Loging Page */
#login {
    width: 250px;
    height: 400px;
    margin: 0 auto;
    padding-top: 123px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fceed7;
    line-height: 30px;
}

#login .logoLarge {
    width: 240px;
    height: 62px;
    margin: 0 auto 40px auto;
    background: url(images/logoLarge.png) no-repeat center;
    background-size: 240px 62px;
}

#login .signInForm {
    width: 250px;
    margin: 0 auto;
}

#login .signInForm input[type=text], #login .signInForm input[type=password] {
    width: 225px;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 2px solid #e9ddcb;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #beb4a6;
    line-height: 30px;
}

#login .signInForm .submit {
    width: 250px;
    height: 36px;
    margin: 0 auto;
    padding-bottom: 70px;
}

#login .signInForm .submit input[type=submit] {
    width: 80px;
    height: 34px;
    margin: 0 10px 0 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
}

#login .signInForm .submit .forgot {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #da000e;
    line-height: 34px;
    text-decoration: none;
}

#login .signUpBtns {
    width: 250px;
}

#login .signUpBtns a {
    width: 250px;
    height: 34px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

#login .signUpBtns .fbLogin {
    background: -webkit-linear-gradient(top, rgba(100,128,183,1) 0%,rgba(63,93,160,1) 100%); 
}

/* Create Account Page */
#register {
    width: 250px;
    height: 400px;
    margin: 0 auto;
    padding-top: 40px;
}

#register .logo {
    width: 103px;
    height: 103px;
    margin: 0 auto 30px auto;
    background: url(images/logo-register.png) no-repeat center;
    background-size: 103px 103px;
}

#register h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: #6b0003;
    line-height: 60px;
    display: block;
}

#register .signUpForm {
    width: 250px;
    margin: 0 auto;
}

#register .signUpForm input[type=text], #register .signUpForm input[type=password] {
    width: 225px;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 2px solid #e9ddcb;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #beb4a6;
    line-height: 30px;
}

#register .signUpForm .submit {
    width: 250px;
    height: 36px;
    margin: 0 auto;
    padding-bottom: 70px;
}

#register .signUpForm .submit input[type=submit] {
    width: 80px;
    height: 34px;
    margin: 0 10px 0 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
}

#register .signUpForm .submit .cancel {
    width: 80px;
    height: 34px;
    margin: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(155,0,4,1) 0%,rgba(107,0,3,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    display: block;
    float: right;
}
