/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
body { font:13px/1.231 sans-serif; *font-size:small;}
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
border-radius: 1px;
-moz-box-shadow: 0px 0px 5px red;
-webkit-box-shadow: 0px 0px 5px red;
box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
background-color: #f0dddd;
}
::-moz-selection {
background: #FF5E99;
color:#fff;
text-shadow: none;
}
::selection {
background:#FF5E99;
color:#fff;
text-shadow: none;
}
a:link { -webkit-tap-highlight-color: #FF5E99; }
button { width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }
/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
/* 
    Retina: 640 x 1136
    Web Dimensionsd: 320 x 548 
*/
body
{
    width: 320px;
    margin: 0;
    padding: 0;
    font: 14px/16px Helvetica, Arial, sans;
    overflow: hidden;
    background-color: #222;
}

a, a:hover, a:visited { color: #6b0003; font-weight: bold; text-decoration: none; }
 
#wrapper
{
    width: 320px;
    min-height: 548px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 140px 30px #fbf4e8;
    box-shadow: inset 0px 0px 140px 30px #fbf4e8;
    position: relative;
    z-index: 1;
}

#sideMenu {
    width: 320px;
    min-height: 548px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    z-index: 0;
}

#sideMenu ul {
    margin: 0;
    padding: 0;
}

#sideMenu ul li {
    width: 310px;
    height: 20px;
    margin: 0;
    list-style-type: none;
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: 1px solid #999;
    color: #fff;
}

#sideMenu ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/* Pages */

/* Login Page */
#login {
    width: 250px;
    height: 400px;
    margin: 0 auto;
    padding-top: 123px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fceed7;
    line-height: 30px;
}

#login .logoLarge {
    width: 240px;
    height: 62px;
    margin: 0 auto 40px auto;
    background: url(images/logoLarge.png) no-repeat center;
    background-size: 240px 62px;
}

#login .signInForm {
    width: 250px;
    margin: 0 auto;
}

#login .signInForm input[type=text], #login .signInForm input[type=password] {
    width: 225px;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 2px solid #e9ddcb;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #beb4a6;
    line-height: 30px;
}

#login .signInForm .submit {
    width: 250px;
    height: 36px;
    margin: 0 auto;
    padding-bottom: 70px;
}

#login .signInForm .submit input[type=submit] {
    width: 80px;
    height: 34px;
    margin: 0 10px 0 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
}

#login .signInForm .submit .forgot {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #da000e;
    line-height: 34px;
    text-decoration: none;
}

#login .signUpBtns {
    width: 250px;
}

#login .signUpBtns a {
    width: 250px;
    height: 34px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

#login .signUpBtns button.fbLogin {
    width: 250px;
    height: 34px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(100,128,183,1) 0%,rgba(63,93,160,1) 100%); 
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Create Account Page */
#register {
    width: 250px;
    height: 400px;
    margin: 0 auto;
    padding-top: 40px;
}

#register .logo {
    width: 103px;
    height: 103px;
    margin: 0 auto 30px auto;
    background: url(images/logo-register.png) no-repeat center;
    background-size: 103px 103px;
}

#register h1 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: #6b0003;
    line-height: 60px;
    display: block;
}

#register .signUpForm {
    width: 250px;
    margin: 0 auto;
}

#register .signUpForm input[type=text], #register .signUpForm input[type=password] {
    width: 225px;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 2px solid #e9ddcb;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #beb4a6;
    line-height: 30px;
}

#register .signUpForm .submit {
    width: 250px;
    height: 36px;
    margin: 0 auto;
    padding-bottom: 70px;
}

#register .signUpForm .submit input[type=submit] {
    width: 80px;
    height: 34px;
    margin: 0 10px 0 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
}

#register .signUpForm .submit .cancel {
    width: 80px;
    height: 34px;
    margin: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(155,0,4,1) 0%,rgba(107,0,3,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    display: block;
    float: right;
}

#register .signUpForm .submitConfirm {
    width: 250px;
    height: 36px;
    margin: 20px auto;
    padding-bottom: 70px;
}

#register .signUpForm .submitConfirm input[type=submit] {
    width: 250px;
    height: 34px;
    margin: 0 10px 0 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
}

/* Home Page */
#header {
    width: 320px;
    height: 45px;
    margin: 0;
    padding: 0;
    background-color: #fcf7ee;
    border-bottom: solid 2px #e5e5e5;
}

#header .logo {
    width: 120px;
    height: 31px;
    margin: 0 auto;
    background: url(images/logoSmall.png) no-repeat center;
    background-size: 120px 31px;
    position: relative;
    top: 8px;
}

#header a#btnMenu {
    width: 52px;
    height: 45px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    background: -webkit-linear-gradient(top, rgba(251,244,233,1) 0%,rgba(244,232,208,1) 100%);
    border-right: 1px solid #fff;
    position: relative;
}

#header a#btnMenu:hover img, #header a#btnMenu:hover {
    background: -webkit-linear-gradient(top, rgba(244,232,208,1) 0%,rgba(251,244,233,1) 100%);
}

#header a#btnMenu img {
    position: relative;
    top: 9px;
    left: 10px;
}

#header a#btnBack {
    width: 52px;
    height: 45px;
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    background: -webkit-linear-gradient(top, rgba(251,244,233,1) 0%,rgba(244,232,208,1) 100%);
    border-right: 1px solid #fff;
    position: relative;
}

#header a#btnBack:hover img, #header a#btnBack:hover {
    background: -webkit-linear-gradient(top, rgba(244,232,208,1) 0%,rgba(251,244,233,1) 100%);
}

#header a#btnBack img {
    position: relative;
    top: 9px;
    left: 10px;
}

#header a#btnAdd {
    width: 52px;
    height: 45px;
    display: block;
    margin: 0;
    padding: 0;
    float: right;
    background: -webkit-linear-gradient(top, rgba(251,244,233,1) 0%,rgba(244,232,208,1) 100%);
    border-left: 1px solid #fff;
    position: relative;
    top: -31px;
    right: 0;
}

#header a#btnAdd:hover img, #header a#btnAdd:hover {
    background: -webkit-linear-gradient(top, rgba(244,232,208,1) 0%,rgba(251,244,233,1) 100%);
}

#header a#btnAdd img {
    position: relative;
    top: 14px;
    left: 18px;
}

#home ul { 
    width: 320px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#home ul li {
    width: 320px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 2px solid #f6f0e3;
}

#home ul li a {
    width: 320px;
    height: 100px;
    display: block;
}

#home ul li a > img {
    margin: 10px;
    float: left;
}

#home ul li a .copy {
    width: 160px;
    height: 87px;
    margin-top: 13px;
    float: left;
}

#home ul li a .copy span.name {
    color: #da000e;
    font-size: 20px;
    font-weight: bold;
}
#home ul li a .copy span.points {
    color: #6b0003;
    font-size: 15px;
    font-weight: bold;
}

#home ul li a .arrow {
    width: 50px;
    height: 100px;
    float: right;
    background-color: #fdf8ef;
    border-bottom: 2px solid #fcfaf5;
    position: relative;
    top: -29px;
}

#home ul li a .arrow img {
    position: relative;
    left: 20px;
    top: 35px;
}

/* Locations Page */
#locations ul { 
    width: 320px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#locations ul li {
    width: 320px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 2px solid #f6f0e3;
}

#locations ul li a {
    width: 320px;
    height: 100px;
    display: block;
}

#locations ul li a > img {
    margin: 10px;
    float: left;
}

#locations ul li a .copy {
    width: 240px;
    height: 58px;
    padding: 32px 0 10px 20px;
    float: left;
}

#locations ul li a .copy span.name {
    color: #da000e;
    font-size: 20px;
    font-weight: bold;
}
#locations ul li a .copy span.address {
    color: #6b0003;
    font-size: 15px;
    font-weight: bold;
}

#locations ul li a .arrow {
    width: 50px;
    height: 100px;
    float: right;
    background-color: #fdf8ef;
    border-bottom: 2px solid #fcfaf5;
    position: relative;
    top: -29px;
}

#locations ul li a .arrow img {
    position: relative;
    left: 20px;
    top: 35px;
}

/* Location Detail Page */
#header .details-title {
    padding: 0 0 0 62px;
    text-align: left;
    line-height: 48px;
    font-size: 20px;
    font-weight: bold;
    color: #6b0003;
    -webkit-box-shadow: inset 0px -1px 0px 0px #fff;
    box-shadow: inset 0px -1px 0px 0px #fff;
}

#details {

}

#details .photo img {
    position: relative;
    bottom: -40px;
    left: 20px;
}

#details .photo h1 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: relative;
    bottom: 20px;
    left: 120px;
}

#details .content {
    width: 320px;
    height: 360px;
    padding-top: 40px;
    background-color: #fffdfa;
}
#details .content span.points {
    width: 320px;
    margin: 0 auto 26px auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #6b0003;
    display: block;
}

#details .content a.checkIn {
    width: 250px;
    height: 34px;
    margin: 0 auto 15px auto;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

#details .content a.checkIn span {
    width: 250px;
    height: 34px;
    display: block;
    margin-right: 8px;
    background: url(images/icon-checkin.png) no-repeat center;
    background-size: 10px 15px;
    background-position: 74px 9px;
}

#details .content a.rewards {
    width: 250px;
    height: 34px;
    margin: 0 auto 15px auto;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(155,0,4,1) 0%,rgba(108,0,3,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

#details .content p {
    width: 150px;
    margin: 10px 0 10px 65px;
}

#details .content p span {
    margin: 0 0 5px 0;
    font-weight: bold;
    position: relative;
    left: -29px;
    display: block;
}

/* Redeem Page */
#redeem {
    padding-top: 10px;
}

#redeem h2 {
    text-align: center;
    margin-bottom: 5px;
}

#redeem .prizePoint {
    width: 250px;
    margin: 0 auto;
}

#redeem .prizePoint input[type=text] {
    width: 225px;
    height: 30px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 2px solid #e9ddcb;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #beb4a6;
    line-height: 30px;
}

#redeem .venues {
    width: 250px;
    margin: 0 auto 10px auto;
    overflow: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,245,234,1) 0%,rgba(244,232,208,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    position: relative;
}

#redeem .venues span {
    width: 10px;
    height: 6px;
    background: url(images/icon-down-arrow.png) no-repeat center;
    background-size: 10px 6px;
    position: absolute;
    right: 20px;
    top: 13px;
}

#redeem .venues select {
    width: 290px;
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    border: none;
    -webkit-appearance: none;
    color: #6b0003;
    background: transparent;
}

#redeem .venues select option {

}

#redeem .submit {
    width: 250px;
    height: 36px;
    margin: 0 auto;
    padding-bottom: 20px;
}

#redeem .submit input[type=submit] {
    width: 250px;
    height: 34px;
    margin: 0 10px 0 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
}

#reward ul { 
    width: 320px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
}

#reward ul li {
    width: 320px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 2px solid #f6f0e3;
}

#reward ul li > img {
    margin: 10px;
    float: left;
}

#reward ul li .copy {
    width: 160px;
    height: 87px;
    margin-top: 13px;
    float: left;
}

#reward ul li .copy span.name {
    color: #da000e;
    font-size: 20px;
    font-weight: bold;
}
#reward ul li .copy span.points {
    margin: 0 0 10px 0;
    color: #6b0003;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

#reward ul li .copy a.active {
    width: 100px;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

#redeem ul { 
    width: 320px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
}

#redeem ul li {
    width: 320px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 2px solid #f6f0e3;
}


#redeem ul li a {
    width: 320px;
    height: 100px;
    display: block;
}

#redeem ul li a > img {
    margin: 10px;
    float: left;
}

#redeem ul li a .copy {
    width: 160px;
    height: 87px;
    margin-top: 13px;
    float: left;
}

#redeem ul li a .copy span.name {
    color: #da000e;
    font-size: 20px;
    font-weight: bold;
}
#redeem ul li a .copy span.points {
    margin: 0 0 10px 0;
    color: #6b0003;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

#redeem ul li a .copy a.active {
    width: 100px;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(251,62,74,1) 0%,rgba(218,0,14,1) 100%);
    -webkit-box-shadow: 0px 2px 2px #d9d7d5;
    box-shadow: 0px 2px 2px #d9d7d5;
    text-decoration: none;
    text-align: center;
    display: block;
}

